.card {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Verdana";
  background-color: #FFF;
  color: #000;
  border: 0.3rem solid #FF662E;
  border-radius: 1.25rem;
  text-align: right;
  margin-bottom: .6rem;
  padding-top: 1rem;
  max-width: 27rem;
  min-width: 15rem; }
  .card__data {
    width: 11rem;
    text-align: left;
    padding-left: 2rem; }
  .card__button {
    border: 0.3rem solid #FF662E;
    border-radius: 0 1.25rem 0 1.25rem;
    width: 12rem;
    height: 2rem;
    background-color: #FF662E;
    font-size: .9rem;
    color: #FFF;
    margin-bottom: -.45rem;
    margin-left: -.43rem;
    margin-top: 1.2rem;
    outline: none; }

.button_add {
  background-color: #FF662E; }

.button_remove {
  background-color: #FFF;
  color: #FF662E; }
