.card {
  margin: .25rem;
  font-size: 1rem;
  font-family: "Verdana";
  background-color: #FFF;
  color: #000;
  border: 0.3rem solid #FF662E;
  border-radius: 1.25rem;
  text-align: right;
  padding-top: 1rem;
  max-width: 27rem;
  min-width: 15rem; }
  .card__data {
    width: 11rem;
    text-align: left;
    padding-left: 2rem; }
  .card__button {
    border: 0.3rem solid #FF662E;
    border-radius: 1.25rem 1.25rem 0 0;
    height: 2rem;
    font-size: .9rem;
    color: #FFF;
    margin-left: 4rem;
    margin-top: 1.6rem;
    outline: none;
    width: 8rem; }

.button_add {
  background-color: #FF662E; }

.button_remove {
  background-color: #FFF;
  color: #FF662E; }
