.counter {
  margin: 1rem auto;
  min-height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #FF662E;
  color: #FFF;
  font-size: 1.6rem;
  font-family: "Verdana";
  padding: 0 1.5rem;
  width: 65%;
  justify-content: center; }
