.customer_data {
  margin: 0 auto;
  font-size: 1.25rem;
  font-family: "Verdana";
  background-color: #D3D3D3;
  color: #000;
  padding: 1rem;
  border-radius: 1.25rem;
  margin-bottom: 1rem;
  width: 68%; }
  .customer_data__label {
    text-align: right;
    padding-right: 2rem; }
