::placeholder {
  color: black; }

.search_bar {
  font-size: 1rem;
  font-family: "Verdana";
  background-color: white;
  color: black;
  margin-bottom: .6rem; }
  .search_bar__box {
    width: 12rem;
    height: 2rem;
    border: 0.3rem solid #ff6a20;
    border-radius: 1rem;
    padding: .1rem .9rem;
    font-size: 1.1rem;
    margin-right: .35rem;
    outline: none; }
  .search_bar__button {
    width: 6rem;
    height: 2.65rem;
    border: 0.1rem solid #ff6a20;
    border-radius: 1rem;
    padding: .1rem .9rem;
    font-size: 1.1rem;
    color: white;
    background-color: #ff6a20;
    outline: none; }
