@import './variables.scss';

.counter {
  margin: .6rem auto;
  border: .1rem solid $tm-theme-colour;
  min-height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: $tm-theme-colour;
  color: $tm-background;
  font-size: 1.2rem;
  font-family: $tm-font-basic;
  padding: 0 1.5rem;
  width: fit-content;
  max-width: 27rem;
}



