@import './variables.scss';

.counter {
  margin: 1rem auto;
  min-height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: $tm-theme-colour;
  color: $tm-background;
  font-size: 1.6rem;
  font-family: $tm-font-basic;
  padding: 0 1.5rem;
  width: 65%;
  justify-content: center;
}



