.counter {
  border: .1rem solid rgb(255, 106, 32);
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  margin: .6rem 0;
  background-color: rgb(255, 106, 32);
  color: white;
  font-size: 1.2rem;
  font-family: "Verdana";
  padding: 0 1.5rem;
  width: fit-content;
}



